.header {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 4px 0px, rgba(0, 0, 0, 0.05) 0px 2px 8px 0px;
  display: flex;
  background-color: white;
  position: sticky;
  z-index: 2;
  top: 0px;
  align-items: center;
  justify-content: center;
}

.header-title {
  margin-right: 16px;
}

.grid-root {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 5fr) minmax(0, 3fr);
  column-gap: 20px;
}

.grid-col-saved-characters,
.grid-col-editor {
  padding-right: 8px;
  border-right: 1px solid lightgrey;
}

.sticky {
  position: sticky;
  top: 60px;
  margin-top: 8px;
}

.placeholder-text {
  color: #90949c;
  font-weight: 400;
}

.saved-characters-container {
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid grey;
}

.saved-character-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.saved-character-item {
  cursor: pointer;
  font-size: 24px;
}

.hoverable:hover {
  transform: scale(1.05);
}


.saved-character-highlighted {
  color: red;
}

.selected-character {
  display: inline;
  font-size: 36px;
  padding: 8px;
  border: 1px dotted grey;
  margin-right: 8px;
}

.selected-character-buttons {
  display: flex;
  flex-direction: column;
}

.selected-character-header {
  margin: 12px 0px;
  display: flex;
  align-items: center;
}

.component-container {
  padding: 8px;
  margin-bottom: 4px;
  border: 1px dotted grey;
}

.radical-meaning {
  font-size: 16px;
  font-weight: 400;
}

.example-character {
  font-size: 20px;
  margin-right: 4px;
}

.example-character-row {
  margin-bottom: 4px;
}

.example-character-container {
  margin-left: 16px;
  margin-bottom: 8px;
}


.saved-characters-header {
  margin-bottom: 4px;
}

.App {
  padding: 0px 20px 20px 20px;
  font-family: Helvetica;
  max-width: 1200px;
  margin: 0 auto;
}

.DraftEditor-root {
  font-size: 40px;
}

.red {
  color: #b83746;
}
