/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Buttons styles start */
button {
  display: inline-block;
  border: none;
  margin: 0;
  border-radius: 8px;
  padding: 4px 8px;
  text-decoration: none;
  font-family: sans-serif;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:focus {
  outline: 1px solid #fff;
}

button:active {
  transform: scale(0.95);
}
/* Button styles end */

.grid-root {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 5fr) minmax(0, 3fr);
  column-gap: 20px;
}

.grid-col-saved-characters,
.grid-col-editor {
  padding-right: 8px;
  border-right: 1px solid lightgrey;
}

.sticky {
  position: sticky;
  top: 24px;
}

.saved-characters-container {
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid grey;
}

.saved-character-row {
  display: flex;
  justify-content: space-between;
  /* align-content: center; */
}

.saved-character-item {
  cursor: pointer;
  font-size: 24px;
  margin-bottom: 4px;
}

.saved-character-highlighted {
  color: red;
}

.selected-character {
  display: inline;
  font-size: 36px;
  padding: 8px;
  border: 1px dotted grey;
  margin-right: 4px;
}

.selected-character-header {
  margin-bottom: 8px;
}

.component-container {
  padding: 8px;
  margin-bottom: 4px;
  border: 1px dotted grey;
}

.radical-meaning {
  font-size: 16px;
  font-weight: 400;
}

.example-character {
  font-size: 20px;
  margin-right: 4px;
}

.example-character-row {
  margin-bottom: 4px;
}

.example-character-container {
  margin-left: 16px;
  margin-bottom: 8px;
}

.definition-container {
  margin-bottom: 8px;
}

.saved-characters-header {
  margin-bottom: 8px;
}

.remove-saved-character-button {
}

.prepare-download-button {
  margin-bottom: 8px;
}

.definition-row {
  margin-left: 16px;
}
.selected-definition {
  margin-right: 8px;
  padding: 4px;
}

.App {
  padding: 20px;
  font-family: Helvetica;
  max-width: 1200px;
  margin: 0 auto;
}

.DraftEditor-root {
  font-size: 40px;
}

.red {
  color: #b83746;
}
